.centrar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.full-screen {
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
  display: contents !important;
}

.unir-left {
  margin-left: 0px;
  padding-left: 0px;
}

.unir-right {
  margin-right: 0px;
  padding-right: 0px;
}

.alinear-conetido {
  text-align: center !important;
}


.color-gris {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  background-color: #BEB8B8
}

.borders {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  height: 100%;
}

.dimensionar {
  width: 100%;
  height: 200px;
  
}
.lg-icon {
  font-size: 100px;
  opacity: 0.2;
}

.centrar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
