@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}

.imagenFondo {
  background-image: url('../img/Fondo3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #66999;
}

.fondo {
  height: 100%;
  background-color: #FFF;
}

.color {
  background-color: #f5f5f5;
}

#icono {
  font-size: 50px;
  color: #FFF;
}

#iconoMenu {
  font-size: 50px;
  color: #FFF;
}

#iconoSubMenu1 {
  font-size: 30px;
  color: #FFF;
}

#iconoSubMenu2 {
  font-size: 25px;
  color: #FFF;
}

#iconoUser {
  font-size: 25px;
  color: #FFF;
}

img.imagen {
  width: 25%;
  height: 15%;
}

img.imagenUser {
  width: 14%;
  height: 10%;
}

.form-login {
  position: absolute;
  top: 20%;
  left: 42%;
  background-color: #EDEDED;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf;
  opacity: 0.8;
}

.form-control {
  border-radius: 10px;
}

.wrapper {
  text-align: center;
}

.right {
  font-family: OpenSans-Light;
  font-size: 15px;
  color: gray;
  position: absolute;
  left: 18%;
  width: 80%;
  height: auto;
}

.right2 {
  position: absolute;
  left: 250px;
  width: 0%;
  height: auto;
}

#corre {
  text-align: right;
}

.contenido-interno{
  background-color: #f4f4f4;
  padding: 65px;
}

h4 {
  padding-bottom: 10px;
  text-align: center;
  font-family: Some;
}

.tituloSubmenu{
  font-size: 14px;
}

.username {
  bottom: 0%;
}


@media screen and (max-width: 767px) {
  .form-login {
    left: 30%;
    width: 40%
  }

  #iconoMenu {
    font-size: 30px !important;
  }

  #icono {
    font-size: 30px;
  }

  .tituloSubmenu {
    display: none;
  }

  .submenuMensaje {
    display: none;
  }

  .TituloMenu {
    font-size: 13px;
  }

  .nav-side-menu{
    width: 9%;
  }
    .nav-side-menu ul, .nav-side-menu li {
      min-height: 100px;
    }

}

@media screen and (max-width: 992px) {
  .nav-side-menu {
    width: 9%;
  }

  .nav-side-menu2 {
    width: 9%;
  }
}


/*@media (max-width: 1700px) {
  .right {
    width: 60px;
  }
}*/

/*@media screen and (max-width: 1000px) {
  .right {
    left: 36%;
    width: 64%;
  }

  #iconoMenu {
    font-size: 50px;
  }

  .tituloSubmenu {
    font-size: 12px;
  }
}*/
/*}

@media (max-width: 760px) {
  .right {
    width: 93%;
  }


}*/

.pointer{
  cursor: pointer;
}


.salto {
  display: block;
  margin-bottom: 2px;
  font-size: 2px;
  line-height: 2px;
}

.margin-13{
  margin-top: 14px;
}
