@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}

body {
  font-size: 14px !important;
}

.icono-descarga {
  color: #495057;
  position: relative;
  top: -1px;
  cursor: pointer;
}

/**/
.badge-pemarsa {
  color: #fff;
  background-color: #a0a1a2;
  width: 104px;
  height: 26px;
  padding: 7px !important;
  font-size: 13px !important;
}
.panel-border {
  border: 0px solid transparent;
}

/*.panel-default > .panel-border > .panel-heading {
  color: #000 !important;
  background-color: #ffffff !important;
  border-color: #ddd !important;
}*/
.panel-color {
  color: #000 !important;
  background-color: #ffffff !important;
  border-color: #ddd;
}

.devolver {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}

.line-heigth-33 {
  line-height: 33px;
}

.top-10 {
  top: -16px;
}

/*iconos incompletos*/

.display {
  display: none;
}

.remove {
  display: block;
  color: white;
}

.separador {
  height: 190px;
}

/*powered_by*/
.powered_by {
  font-size: .7em;
}

/*Validaciones*/
.validaciones {
  font-size: 12px;
}

/*colores*/
.gray {
  color: gray;
}

.green {
  color: green;
}

.red {
  color: red;
}
/*Estilos width*/
.width-12 {
  width: 12%;
}

.width-10 {
  width: 10%;
}

.width-9 {
  width: 9%;
}

.width-8 {
  width: 8%;
}

.width-6 {
  width: 6%;
}

/*Ajustar formulario oit*/
.left-10 {
  left: -10px;
}

.left-9 {
  left: -9px;
}

.left-9-md {
  left: -9px;
}

/*Contenido despues del panel*/
.contenido-interno {
  background-color: rgba(249, 249, 249, 0.95);
  padding: 65px;
  height: 100%;
  -webkit-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
}

/*Contenido para los listados*/
.contenido-interno-listar {
  background-color: #f9f9f9;
  padding: 20px;
  height: 100%;
  opacity: 0.95;
  -webkit-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
}

/*Carga archivos filename */
.contenedor > .form-control {
  font-size: 12px !important;
}

contenedor {
  font-size: 12px !important;
}

/*Cambiar placeholder de los input*/
::-webkit-input-placeholder {
  color: #d2d2d2 !important;
}
/* WebKit, Blink, Edge */
:-moz-placeholder {
  color: #d2d2d2 !important;
}
/* Mozilla Firefox 4 to 18 */
::-moz-placeholder {
  color: #d2d2d2 !important;
}
/* Mozilla Firefox 19+ */
:-ms-input-placeholder {
  color: #d2d2d2 !important;
}
/* Internet Explorer 10-11 */
::-ms-input-placeholder {
  color: #d2d2d2 !important;
}
/* Microsoft Edge */


/*Filtros*/
.dropdown-menu.show {
  display: block;
  font-size: 12px !important;
  width: auto !important;
}

/*input buscar de los listados*/
.inputBuscar {
  background: rgba(255,255,255,.15) !important;
  border: none !important;
  color: #FFF !important;
  height: 30px !important;
  box-shadow: none !important;
  margin-top: 14px !important;
}
  /*Cambiar placeholder del input de busqueda*/
  .inputBuscar::-webkit-input-placeholder {
    color: #89b0e2 !important;
  }
  /* WebKit, Blink, Edge */
  .inputBuscar:-moz-placeholder {
    color: #89b0e2 !important;
  }
  /* Mozilla Firefox 4 to 18 */
  .inputBuscar::-moz-placeholder {
    color: #89b0e2 !important;
  }
  /* Mozilla Firefox 19+ */
  .inputBuscar:-ms-input-placeholder {
    color: #89b0e2 !important;
  }
  /* Internet Explorer 10-11 */
  .inputBuscar::-ms-input-placeholder {
    color: #5a83bf !important;
  }
/* Microsoft Edge */
/*Fin cambiar placeholder*/

.form-group > .form-control {
  color: black !important;
}

/*Fuente en blanco*/

.font-white {
  color: #FFF;
}

.font-black {
  color: black;
}
/*Estilos para el panel persona contacto*/
.panel-default > .panel-heading {
  color: #fff !important;
  background-color: #3a72c8 !important;
  border-color: #ddd;
}

.alinear-derecha {
  text-align: right;
}

.iconox20 {
  font-size: 20px;
  cursor: pointer;
}

/*Estilos para los paneles de los titulos*/
.titulo {
  background-color: rgba(32, 87, 170, 0.9);
  color: #d2d2d2;
  border-radius: 10px 9px 0px 0px;
  -moz-border-radius: 10px 9px 0px 0px;
  -webkit-border-radius: 10px 9px 0px 0px;
  border: 0px solid #000000;
  -webkit-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
}

/*Titulo para las tablas fondo azul, letra blanca*/
.titleTable {
  background-color: #3F77CA;
  color: #FFF;
  font-size: 15px;
}

.center-table {
  text-align: center;
  font-size: 14px;
  padding: 10px 0 8px 0 !important;
}

.padding-none {
  padding: 10px 0 8px 0 !important;
}

/*Opacidad para poner el fondo oscuro cuando se abre un modal*/
/*.modal-backdrop{
  opacity:0.4 !important;
}
/*Posicion del modal en la pantalla*/
.modal-dialog {
  margin-top: 200px !important;
}

/*Colores del panel del modal*/
.panelModal {
  background-color: #3F77CA;
  color: #FFF;
}
/**/
.colorPanel {
  background-color: #4488c1;
  border-color: #337ab7;
  color: #FFF;
}

/* Estilos de fondo de imagen responsive por si se implementa*/
.imagenFondo {
  background-image: url('../img/Fondo3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fondo {
  height: 100%;
  background-color: #FFF;
}

.color {
  background-color: #f5f5f5;
}

#icono {
  font-size: 50px;
  color: #FFF;
}

/*Estilos para los tamaños de los iconos del menu*/
#iconoMenu {
  font-size: 50px;
  color: #FFF;
}

#iconoSubMenu1 {
  font-size: 30px;
  color: #FFF;
}

#iconoSubMenu2 {
  font-size: 25px;
  color: #FFF;
}

#iconoUser {
  font-size: 25px;
  color: #FFF;
}

/*Fin estilos de iconos*/

.form-login {
  position: absolute;
  top: 20%;
  left: 42%;
  background-color: #EDEDED;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf;
  opacity: 0.8;
}

.form-control, .btn {
  font-size: 14px !important;
}

/*Div general despues de los menus laterales*/

.right {
  font-family: OpenSans-Light;
  font-size: 15px;
  color: black;
  position: absolute;
  left: 18%;
  width: 81%;
  height: 100%;
}

/*Aliniear hacia la derecha*/
#corre {
  text-align: right;
}


h4 {
  padding-bottom: 10px;
  text-align: center;
  font-family: Some;
}

.contenidoMenu {
  font-size: 14px;
}

.username {
  bottom: 0%;
}

/*Estilo para que el cursor se muestre la mano*/
.pointer {
  cursor: pointer;
}

/*Estilo para acomodar el icono de la paginacion*/
.margin-13 {
  margin-top: 16px;
  margin-left: -13px;
}

/**/
.margin-20 {
  margin-top: 20px;
}

/**/
.estrella {
  margin-top: -6px;
  margin-left: -8px;
  height: 29px;
}


/*Estilos Responsive*/
@media screen and (max-width: 767px) {
  .form-login {
    left: 30%;
    width: 40%
  }

  .contenido-interno {
    padding: 20px;
  }

  .left-9-md {
    left: 0px;
    top: 5px;
  }
  /*Ajustar iconos en responsive*/
  #iconoMenu {
    font-size: 30px !important;
  }

  #icono {
    font-size: 22px;
    margin-left: -5px;
  }

  .contenidoMenu {
    display: none;
  }

  .submenuMensaje {
    display: none;
  }

  .TituloMenu {
    font-size: 10px;
  }

  .TituloSubMenu {
    font-size: 9px;
  }

  #corre {
    text-align: left;
  }
  /*Estilos del Menu y SubMenu */
  .nav-side-menu {
    width: 9%;
  }

    .nav-side-menu ul, .nav-side-menu li {
      min-height: 100px;
    }

  .nav-side-menu2 ul, .nav-side-menu2 li {
    line-height: 80%;
    width: 90%;
    padding-left: 7px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 60%;
    border-radius: 10%;
  }
}
/*Estilos para una tablet*/
@media (max-width: 1024px) and (min-width: 767px) {
  /*Estilos del Menu y SubMenu */
  .nav-side-menu {
    width: 8%;
  }

    .nav-side-menu ul, .nav-side-menu li {
      min-height: 100px;
    }


  .nav-side-menu2 {
    left: 8%;
  }

    .nav-side-menu2 ul, .nav-side-menu2 li {
      line-height: 80%;
      width: 85%;
      padding-left: 16px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 60%;
      border-radius: 10%;
    }

  /*Fin estilos Meny y Submenu*/
  .estrella {
    margin-top: -6px;
    margin-left: -17px;
  }

  .contenido-interno {
    padding: 30px;
  }

  .TituloMenu {
    font-size: 14px;
  }

  .TituloSubMenu {
    font-size: 13px;
  }

  #icono {
    font-size: 25px;
    margin-left: -15px;
  }

  .submenuMensaje {
    display: none;
  }

  .contenidoMenu {
    font-size: 10px;
  }

  #corre {
    text-align: left;
  }
}


@media (max-width: 1550px) and (min-width: 1024px) {
  /*Estilos del Menu y SubMenu */
  .nav-side-menu {
    width: 7.8%;
  }

    .nav-side-menu ul, .nav-side-menu li {
      min-height: 100px;
    }



  .nav-side-menu2 {
    left: 7.8%;
  }

    .nav-side-menu2 ul, .nav-side-menu2 li {
      line-height: 92%;
      width: 92%;
      padding-left: 19px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 60%;
      border-radius: 10%;
    }

  /*Fin Estilos Menu y submenu*/

  .left-9-md {
    left: 9px;
  }

  #icono {
    font-size: 25px;
    margin-left: -25px;
  }

  #iconoMenu {
    font-size: 50px !important;
  }

  .submenuMensaje {
    font-size: 10px;
    margin-left: -25px;
  }

  .contenidoMenu {
    font-size: 10px;
  }
}
/*Estilos responsive para un celular*/
@media screen and (max-width: 500px) {
  .form-login {
    left: 30%;
    width: 40%
  }

  .right {
    left: 21%;
    width: 80%;
  }

  /*Ajustar iconos en responsive*/
  #iconoMenu {
    font-size: 30px !important;
  }

  #icono {
    font-size: 18px;
    margin-left: -5px;
  }

  .contenidoMenu {
    display: none;
  }

  .submenuMensaje {
    display: none;
  }

  .TituloMenu {
    font-size: 11px;
  }

  .TituloSubMenu {
    font-size: 11px;
  }

  #corre {
    text-align: left;
  }

  .TituloMenu {
    display: none;
  }

  .TituloSubMenu {
    display: none;
  }
  /*Estilos del Menu y SubMenu */
  .nav-side-menu {
    width: 11%;
  }

  .nav-side-menu2 {
    left: 11%;
    width: 10%;
  }

  .alinear-derecha {
    text-align: left;
  }

  .nav-side-menu ul, .nav-side-menu li {
    min-height: 100px;
  }

  .nav-side-menu2 ul, .nav-side-menu2 li {
    margin-top: 20px;
    line-height: 80%;
    width: 90%;
    padding-left: 7px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 60%;
    border-radius: 10%;
  }
}
