.Inmediato{
background-color: #ffc5c5 !important;
}
.Mediato {
background-color: #fff2cc !important;
}
.Normal{
background-color: #c5e0b4!important;
}
.Standby{
background-color: #bfbfbf !important;

}

